#mstr-modal .modal-footer {
  padding: 0px;
  display: none;
}

#mstr-modal.modal.fade .modal-dialog {
  max-height: 661px;
  max-width: 538px;
  height: 90%;
}

#mstr-modal .modal-dialog {
  margin: 30px auto;
  height: 90%;
}

#mstr-modal .modal-header {
  padding: 0px;
  border-bottom: none;
  position: absolute;
  top: -1px;
  right: 2px;
  float: right;
  z-index: 1;
}

#mstr-modal .modal-header > button {
  padding: 10px 10px 0px 0px;
}

#mstr-modal .modal-body {
  padding: 0px 0px 0px 0px;
  height: 100%;
}

#mstr-modal .top-nav {
  padding-bottom: 10px;
}

#mstr-modal .header {
  height: 50px;
}

#mstr-modal .modal-content {
  height: 100%;
}

#mstr-modal .modal-body > div {
  height: inherit;
}

#mstr-modal * {
  box-sizing: border-box;
}

#mstr-ico {
  padding-bottom: 2px;
}

@media (max-height: 560px) {
  #mstr-modal .modal.fade .modal-dialog {
    top: -15px;
  }
}

/* IFRAME */
#mstr-modal iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 5px;
}